@tailwind base;
@tailwind components;
@tailwind utilities;

body{
        background: url(../img/bg-tablet-pattern.svg);
        background-repeat: no-repeat;
        background-size: 800px;
        background-position: 80% -25%;
}

#cta{
        background-image: url(../img/bg-simplify-section-desktop.svg);
        background-repeat: no-repeat;

}

@media (max-width:786px)  {
        body{
                background-size: 500px;
                background-position: 50px -50px;
        }

        #cta{
                
                background-image: url(../img/bg-simplify-section-mobile.svg);
                background-repeat: no-repeat;
        }
}

.hamburger{
        cursor: pointer;
        width: 24px;
        aspect-ratio: 1 / 1;
        transition: all .3s ease-in-out;
        position: relative;
}

.hamburger-2,.hamburger-3,.hamburger-1{
        position: absolute;
        top: 0;
        left: 0;
        width: 24px;
        height: 2px;
        background-color: black;
        /* transition: all .5s ease-in-out; */
}

.hamburger-2{
        transform: translateY(7px);
}
.hamburger-3{
        transform: translateY(14px);
}



.open{
        transform: rotate(90deg);
}

.open .hamburger-1{
        transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-2{
        display: none;
}

.open .hamburger-3{
        transform: rotate(-45deg)  translateY(6px) translate(-6px);
}